<div class="container-fluid py-5   bg__home">
    <div class="container my-2">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-md-6 col-sm-8 col-xs-12">
                <app-forms></app-forms>
            </div>               
        </div>
    </div>
    <div class="container mt-3">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-md-6 col-sm-8 col-xs-12">
                <app-tabla></app-tabla>
            </div>
        </div>    
    </div>
</div>
